<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>Email: <%= @user.email %></p>
<p>City: <%= @user.city.name %></p>

<h3 class="mt-4">Gossips:</h3>

<ul>
  <% @user.gossips.each do |gossip| %>
    <li>
      <%= link_to gossip.title, gossip_path(gossip) %>
    </li>
  <% end %>
</ul>
